

<div class="container" id="enter-patient">
  <form class="form-inline" action="claims/show" method="get">
    <div class="form-group">
    	<label for="patient-id"	>Patient ID:</label>
    		<input class="form-control" type="text" id="patient-id" placeholder="Enter patient id" name='patient_id'>

    </div>
    <!-- other inputs here -->

    <input class="btn btn-primary go-button" type="submit" value="Go!"/>
  </form>
</div>

  


