<script>
	jQuery(document).ready(function() {
	    $.get("http://52.177.219.177/Payer/GetPatientData/<%= @patient_id %>", function(data, status){
	            $("#PatientId").html(data.PatientId);
	            $("#Name").html(data.Name);
	            $("#Age").html(data.Age);
	            $("#Zip").html(data.PatientId);
	            $("#Address").html(data.Address);
	            $("#heading").html("CLAIMS DATA for " + data.Name);	
	        });	
		jQuery("#claim").click(function(e) {
			claim_desc = $('#desc').val();
			claim_cost = $('#amount').val();
			jQuery.ajax({
				type: "POST",
				dataType : 'json',
	    		url: "http://52.177.219.177/Claims",
			    data: {"PatientId": <%= @patient_id %>, "ProviderId": 1, "VisitedDate": "2018-06-28T17:32:37.716Z", "ClaimDescription": claim_desc, "ClaimAmount": claim_cost},
			    success: function(result) {
			    alert(result);	
	 	     	console.log("lololol");
	          }

			});
		});
	});
</script>

<div class="container">
<div class="row claims-header">
	<h1 id="heading"> CLAIMS DATA for <%= @patient_id %> :</h1>
</div>

<div class="row patient-data">
			<table class="table table-bordered">
				<tr>
					<td>Patient Id</td>
					<td id="PatientId"></td>
				</tr>
				<tr>
					<td>Payer Name</td>
					<td id="Name"></td>
				</tr>
				<tr>
					<td>Age</td>
					<td id="Age"></td>
				</tr>
				<tr>
					<td>Zip Code</td>
					<td id="Zip"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td id="Address"></td>
				</tr>
			</table>
</div>

<div class="row claims-data">
	<table class="table table-bordered">
	  <tr>
	    <th class="tg-us36">Claims Description</th>
	    <th class="tg-us36">Cost</th>
	  </tr>
	  <tr>
	    <td class="tg-us36">Radiation</td>
	    <td class="tg-us36">$30</td>
	  </tr>
	  <tr>
	    <td class="tg-us36">X-Ray</td>
	    <td class="tg-us36">$50</td>
	  </tr>  
	  <tr>
	    <td class="tg-us36">Blood test</td>
	    <td class="tg-us36">$30</td>
	  </tr>  
	</table>
</div>

	 <input type="hidden" name="ClaimDescription" id="desc" value="X-ray"/>
	 <input type="hidden" name="ClaimAmount" id="amount" value="30"/>
	 <div class="row">	
	 	<input class=" btn btn-success" name="claim" type="submit" id="claim" value="Send Claims"/>
	 </div>
</div>